<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.homelab.fleetd</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/markodragoljevic/fleetd/fleetd</string>
    <string>-config</string>
    <string>/Users/markodragoljevic/fleetd/fleetd.json</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/Users/markodragoljevic/fleetd/fleetd.log</string>
  <key>StandardErrorPath</key><string>/Users/markodragoljevic/fleetd/fleetd.log</string>
  <key>WorkingDirectory</key><string>/Users/markodragoljevic/fleetd</string>
</dict>
</plist>
